accelerate==0.34.2
auto_gptq==0.7.1
autoawq==0.2.5
autoawq_kernels==0.0.6
bitsandbytes==0.43.0
deepspeed==0.15.1
einops==0.7.0
flash-attn==2.5.9.post121
flashinfer==0.1.6+cu121torch2.4
huggingface-hub==0.23.4
numpy
optimum==1.21.4
peft==0.12.0
safetensors==0.4.5
tensorboardX==2.6.2.2
tokenizers==0.19.1
torch==2.4.0
torchaudio==2.4.0
torchvision==0.19.0
transformers==4.44.2
transformers-stream-generator==0.0.5
triton==3.0.0
vllm==0.6.0
vllm-flash-attn==2.6.1
xformers==0.0.27.post2